<h1>Cursos disponíveis:</h1>
<div class="books-container">
    <a href="/">Adicionar Curso</a>
    {{#each cursos}}
        <div>
            # - {{this.id}}
             - 
             <span class="bold">
                <a href="/cursos/{{this.id}}">{{this.nome}}</a>
             </span>
              - 
              {{this.horas}} horas
        </div>
    {{/each}}
</div>