<div class="book-page">
    <a href="/cursos">Voltar</a>
    <div class="container">
        <h1>{{curso.nome}}</h1>
        <p>O curso tem {{curso.horas}} horas</p>    
        <div class="action">
            <a href="/cursos/edit/{{curso.id}}">Editar</a>
            <form action="/cursos/remove/{{curso.id}}" method="post">
                <input type="submit" value="remover">
            </form>
        </div>
</div>