<h1>edit seu Curso</h1>
<form action="/cursos/updatecurso" method="post" class="form">
    <input type="hidden" name="id" value="{{curso.id}}">
    <div class="form-control">
        <label for="nome">Nome</label>
        <input type="text" name="nome" value="{{curso.nome}}">
    </div>
    <div class="form-control">
        <label for="horas">Quantidades de horas</label>
        <input type="text" name="horas" value="{{curso.horas}}">
    </div>
    <div class="form-control">
        <input type="submit" value="Atualizar">
    </div>
</form>