<h1>Cadastre seu curso</h1>
<form action="/cursos/insertcurso" method="post" class="form">
    <div class="form-control">
        <label for="nome">Nome do Curso</label>
        <input type="text" name="nome" placeholder="">
    </div>
    <div class="form-control">
        <label for="horas">Horas do curso</label>
        <input type="text" name="horas" placeholder="EX: 35 horas">
    </div>
    <div class="form-control">
        <input type="submit" value="cadastrar">
    </div>
</form>